table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

.gris {
    background-color: gray;
}

.fuente {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}